html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}
footer {
  height: 270px;
  width: 100%;
  background-image: url("C:/Users/jurgi/OneDrive/Desktop/Website2/footerBackgroundImage.png");
}
.footerContainer {
  text-decoration: none;
  font-size: 15px;
  color: white;
  line-height: 200%;
}
.footerColumn1 {
  display: inline-block;
  width: 400px;
  height: 240px;
  margin-left: 50px;
  margin-top: 30px;
}
.footerColumn2 {
  display: inline-block;
  width: 150px;
  height: 240px;
  margin-left: 100px;
  margin-top: 20px;
}
.footerColumn3 {
  display: inline-block;
  width: 250px;
  height: 240px;
  margin-left: 50px;
  margin-top: 20px;
}
.footerColumn4 {
  display: inline-block;
  width: 250px;
  height: 240px;
  margin-left: 50px;
  margin-top: 20px;
}
#emoji {
  width: 20px;
  height: 20px;
}
.copyWrite {
  font-size: 12px;
  text-align: center;
  background-color: #000000;
  text-decoration: underline;
}
#footerHeader {
  font-weight: bolder;
  font-size: 17px;
}
#footerText {
}
.nav {
  background-color: #202020;
  text-align: center;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  opacity: 0.8;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.nav.hide {
  transform: translateY(-100%);
}
#navItem {
  color: #e4e4e4;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 50px;
  margin-right: 50px;
  transition-duration: 0.5s;
  border-bottom: 2px solid #202020;
}
#navItem:hover {
  border-bottom: 2px solid white;
  color: #ffffff;
}
#navImage {
  height: 30px;
  width: 30px;
  float: left;
}

#s6 {
  background-image: url("C:/Users/jurgi/OneDrive/Desktop/Website2/section5image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#s5 {
  background-image: url("C:/Users/jurgi/OneDrive/Desktop/Website2/s5background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 66vh;
}
#s4 {
  background-image: url("C:/Users/jurgi/OneDrive/Desktop/Website2/section4image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;

}
#s3 {
  height: 55vh;
  background-color: #FF9933;
}
#s2 {
  background-image: url("C:/Users/jurgi/OneDrive/Desktop/Website2/section2image.jpg");
  background-color: #ff9933;
  background-size: 50%;
  background-repeat: no-repeat;
  height: 70vh;
}
#s1 {
  background-image: url("C:/Users/jurgi/OneDrive/Desktop/Website2/section1background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  background-color: #404040;
}
.section2Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#box1 {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  height: 280x;
  background-color: #FFFFFF;
  margin: 25px;
  border-radius: 10px;
  text-align: center;
}
#emoji {
  font-size: 50px;
  color: transparent;
  text-shadow: 0 0 0 #FF9933;
}
#box1 h2 {
  font-size: 24px;
  margin-bottom: 0px;
  color: #FF9933;
  margin-top: 30px;
}

#box1 p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #FF9933;
  padding: 25px;
}

#box1 a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}
#headerMain {
  font-size: 100px;
  color: #ff9933;
  font-weight: bolder;
  margin-top: 200px;
  margin-bottom: 0;
  text-align: center;
  padding-left: 150px;
  animation-duration: 1s;
}
#slogan {
  font-size: 70px;
  color: #ff9933;
  font-weight: lighter;
  animation-duration: 1.5s;
}
#textMain {
  font-size: 20px;
  color: #eea963;
  width: 1000px;
  padding-left: 150px;
  line-height: 200%;
  animation-duration: 2s;
}
.containerMain {
  flex-direction: column;
}
#section1Button {
  margin-left: 150px;
  color: white;
  background-color: #ff9933;
  border-radius: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  transition: 0.7s;
  box-sizing: border-box;
  border: #FF9933 solid 3px;
  animation-duration: 4s;
}
#section1Button:hover {
  background-color: white;
  color: #FF9933;
  width: 200px;
  border: #FF9933 solid 3px;
}
a {
  color: white;
  text-decoration: none;
}
section {
  height: 100vh;
  width: 100%;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50px, 0);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.item.animate {
  animation-name: fade-in;
  animation-duration: 1s;
  opacity: 1;
}
.column #section2Button {
  margin: 20px 20px;
  color: white;
  background-color: #FF9933;
  border-radius: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  transition: 0.7s;
  box-sizing: border-box;
  border: white solid 3px;
}
#section2Button:hover {
  background-color: white;
  color: #FF9933;
  width: 200px;
  border: white solid 3px;
}
.column {
  display: flex;
  flex-direction: column;
  float: right;
  width: 600px;
  padding-top: 100px;
  padding-right: 100px;
}
 .item {
  opacity: 0;
}
#section2Text {
  margin: 0;
  padding: 10px 0;
  color: #E4E4E4;
  font-size: 17px;
  line-height: 200%;
}

#section3Text {
  color: #E4E4E4;
  font-size: 17px;
  line-height: 200%;
  width: 700px;
  margin: 0;
  padding-left: 75px;
}
.section3Buttons {
  margin-left: 125px;
}
#section3Button {
  margin: 20px 20px;
  margin-left: 50px;
  color: white;
  background-color: #FF9933;
  border-radius: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  transition: 0.7s;
  box-sizing: border-box;
  border: white solid 3px;
}
#section3Button:hover {
  background-color: white;
  color: #ff9933;
  width: 200px;
  border: #ff9933 solid 3px;
}
.section3Container {
  padding-top: 175px;
}
#row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}
#point {
  width: 400px;
  color: #FFB266;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  padding: 30px;
}
#pointTitle {
  color: #FF9933;
  font-size: 50px;
}
#s6Header {
  color: #FF9933;
  font-size: 50px;
    padding-left: 75px;
}
#s6Text {
  color: #E4E4E4;
  font-size: 17px;
  line-height: 200%;
  width: 700px;
  margin: 0;
  padding-left: 75px;
}
.s6Buttons {
  margin-left: 25px;
}
#s6Button {
  margin: 20px 20px;
  margin-left: 50px;
  color: white;
  background-color: #ff9933;
  border-radius: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  transition: 0.7s;
  box-sizing: border-box;
  border: #ff9933 solid 3px;
}
#s6Button:hover {
  background-color: white;
  color: #ff9933;
  width: 200px;
  border: #ff9933 solid 3px;
}
.s6Container {
  padding-top: 300px;
  display: inline-block;
  float: right;
  padding-right: 50px;
}
@media screen and (max-width: 400px) {
  .s62Container {
    background-image: url("C:\Users\jurgi\OneDrive\Desktop\Website2\background1.png");
  }
}
